* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

input {
  font-family: inherit;
}

button {
  outline: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;
}

#root {
  height: 100vh;
  background-color:#e5dbe4;
  background: linear-gradient(#e5dbe4, #d5daef, #e5dbe4);
}

.wrap {
  position: fixed;
  padding: 1.2em;
  top: 50%;
  left: 50%;
  max-width: 375px;
  width: 100%;
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  overflow: hidden;
  transform: translate(-50%,-50%);
}

.habit-tracker {
  background: #f5f8fa;
  border-radius: 30px;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
  background-color: #9570ff;
  background: linear-gradient(#be86de, #9570ff);
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}

.navbar-count {
  display: inline-block;
  margin-left: 0.2em;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fcb146;
  font-size: 1rem;
  line-height: 2.5rem;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

.habits {
  padding: 2em 0 0;
}

.add-form {
  display:flex;
  flex-wrap: nowrap;
  padding: 0 1em;
}

.add-input {
  margin-right: 0.2em;
  padding: 0.3em 1em;
  width: calc(100% - 40px);
  border: 1px solid #9570ff;
  border-radius: 20px;
  font-size: 0.8rem;
  box-sizing:border-box;
}

.add-button {
  width:45px;
  height:45px;
  font-size: 0.75rem;
  padding: 0.3em 0.5em;
  background-color: #9570ff;
  border-radius: 50%;
  color: #fff;
}

.habits ul {
  margin: 2em 1em;
  padding: 0.5em 1.3em 1em;
  max-height: 50vh;
  background-color: #fff;
  border-radius: 15px;
  overflow-y: auto;
  transform: skew(-0.1deg);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.habit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 1rem;
  list-style: none;
}

.habit-name {
  display: inline-block;
  width: 45%;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

.habit-count {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.5em;
  width: 30px;
  height: 30px;
  background-color: #e9f2f4;
  border-radius: 50%;
  font-size: 0.8rem;
  line-height: 1.9rem;
  font-weight: 600;
  color: #698790;
  text-align: center;
}

.habit-button {
  font-size: 1rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: #fcb146;
}

.habit-delete {
  color: #58d9b2;
}

.habits-reset {
  padding: 0.8em;
  width: 100%;
  background-color: #58d9b2;
  background: linear-gradient(#58d9b2,#60c5bc);
  border-radius: 30px;
  font-size: 0.8rem;
  color: white;
}
